@model IEnumerable<StudentManagement.Models.Student>
<div class="container-fluid">
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
        <h1 class="page-title fw-semibold fs-18 mb-0"><i class="fa-solid fa-users"></i> Students</h1>
    </div>
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    List Students
                </div>
                <div class="d-flex">
                    <a asp-controller="Students" asp-action="Create"
                        class="btn btn-sm btn-primary btn-wave waves-light waves-effect waves-light"><i
                            class="ri-add-line fw-semibold align-middle"></i> Add Student</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-wrapper mb-3">
                    <table class="table text-nowrap table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Student Code</th>
                                <th scope="col" class="text-center">Full Name</th>
                                <th scope="col" class="text-center">Date Of Birth</th>
                                <th scope="col" class="text-center">Email</th>
                                <th scope="col" class="text-center">Phone Number</th>
                                <th scope="col" class="text-center">Address</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var student in Model)
                            {
                                <tr>
                                    <td>
                                        <a class="text-primary">@student.Id</a>
                                    </td>
                                    <td>
                                        @student.StudentCode
                                    </td>
                                    <td class="text-center">
                                        @student.FullName
                                    </td>
                                    <td class="text-center">
                                        @student.DateOfBirth.ToString("dd/MM/yyyy")
                                    </td>
                                    <td class="text-center">
                                        @student.Email
                                    </td>
                                    <td class="text-center">@student.PhoneNumber</td>
                                    <td class="text-center">
                                        <span class="badge bg-success">@student.Address</span>
                                    </td>
                                    <td class="text-center fs-base">
                                        <a asp-action="Edit" asp-route-id="@student.Id"
                                            class="btn btn-sm btn-primary shadow-primary btn-wave" data-bs-toggle="tooltip"
                                            title="Edit">
                                            <i class="fa fa-fw fa-edit"></i> Edit
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@student.Id"
                                            class="btn btn-sm btn-danger shadow-danger btn-wave" data-bs-toggle="tooltip"
                                            title="Delete">
                                            <i class="fas fa-trash"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>